.project-box {
	width: 300px;
	padding: 25px;
}

.project-box img {
	width: 300px;
}

a.project-link {
	text-decoration: none;
	border-radius: 20px;
	color: var(--light-color);
	margin-right: 60px;
}

a.project-link:hover {
	box-shadow: inset 0 0 20px var(--star-color), 0 0 50px var(--star-color);
}

h2.portfolio-name {
	font-size: 27px;
}
@media screen and (max-width: 768px) {
	.project-box {
		width: 250px;
		padding: 25px;
	}
	.project-box img {
		width: 250px;
	}
	a.project-link {
		text-decoration: none;
		color: var(--light-color);
		border-radius: 0;
		border-top: 1px solid var(--main-color);
		border-left: 1px solid var(--main-color);
		margin: 15px 30px 15px 0;
	}
	a.project-link:hover {
		box-shadow: none;
	}

	h2.portfolio-name {
		font-size: 20px;
	}
}
