.workpage {
	padding-left: 120px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.projects-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
	.workpage {
		padding-left: 30px;
		padding-top: 60px;
		width: auto;
		justify-content: flex-start;
		align-items: flex-start;
	}
	/* .projects-container {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	} */
}
