.homepage {
	padding-left: 120px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

.home-content {
	display: flex;
	justify-content: space-around;
}

.home-welcome {
	width: 45%;
}

.home-sky {
	position: relative;
	width: 45%;
	height: 100%;
	-webkit-transform: rotateZ(5deg);
	transform: rotateZ(5deg);
}

.shooting-star {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 2px;
	background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
	border-radius: 999px;
	-webkit-filter: drop-shadow(0 0 6px #699bff);
	filter: drop-shadow(0 0 6px #699bff);
	-webkit-animation: tail 3000ms ease-in-out infinite,
		shooting 3000ms ease-in-out infinite;
	animation: tail 3000ms ease-in-out infinite,
		shooting 3000ms ease-in-out infinite;
}
.shooting-star::before,
.shooting-star::after {
	content: "";
	position: absolute;
	top: calc(50% - 1px);
	right: 0;
	height: 2px;
	background: linear-gradient(
		-45deg,
		rgba(0, 0, 255, 0),
		#5f91ff,
		rgba(0, 0, 255, 0)
	);
	-webkit-transform: translateX(50%) rotateZ(45deg);
	transform: translateX(50%) rotateZ(45deg);
	border-radius: 100%;
	-webkit-animation: shine 3000ms ease-in-out infinite;
	animation: shine 3000ms ease-in-out infinite;
}
.shooting-star::after {
	-webkit-transform: translateX(50%) rotateZ(-45deg);
	transform: translateX(50%) rotateZ(-45deg);
}
.shooting-star:nth-child(1) {
	top: calc(50% - 157px);
	left: calc(50% - 46px);
	-webkit-animation-delay: 1599ms;
	animation-delay: 1599ms;
}
.shooting-star:nth-child(1)::before,
.shooting-star:nth-child(1)::after,
.shooting-star:nth-child(1)::after {
	-webkit-animation-delay: 1599ms;
	animation-delay: 1599ms;
}
.shooting-star:nth-child(2) {
	top: calc(50% - 14px);
	left: calc(50% - 114px);
	-webkit-animation-delay: 471ms;
	animation-delay: 471ms;
}
.shooting-star:nth-child(2)::before,
.shooting-star:nth-child(2)::after,
.shooting-star:nth-child(2)::after {
	-webkit-animation-delay: 471ms;
	animation-delay: 471ms;
}
.shooting-star:nth-child(3) {
	top: calc(50% - -71px);
	left: calc(50% - 87px);
	-webkit-animation-delay: 7200ms;
	animation-delay: 7200ms;
}
.shooting-star:nth-child(3)::before,
.shooting-star:nth-child(3)::after,
.shooting-star:nth-child(3)::after {
	-webkit-animation-delay: 7200ms;
	animation-delay: 7200ms;
}
.shooting-star:nth-child(4) {
	top: calc(50% - -121px);
	left: calc(50% - 236px);
	-webkit-animation-delay: 5700ms;
	animation-delay: 5700ms;
}
.shooting-star:nth-child(4)::before,
.shooting-star:nth-child(4)::after,
.shooting-star:nth-child(4)::after {
	-webkit-animation-delay: 5700ms;
	animation-delay: 5700ms;
}
.shooting-star:nth-child(5) {
	top: calc(50% - -164px);
	left: calc(50% - 137px);
	-webkit-animation-delay: 2300ms;
	animation-delay: 2300ms;
}
.shooting-star:nth-child(5)::before,
.shooting-star:nth-child(5)::after,
.shooting-star:nth-child(5)::after {
	-webkit-animation-delay: 2300ms;
	animation-delay: 2300ms;
}

@-webkit-keyframes tail {
	0% {
		width: 0;
	}
	30% {
		width: 100px;
	}
	100% {
		width: 0;
	}
}

@keyframes tail {
	0% {
		width: 0;
	}
	30% {
		width: 100px;
	}
	100% {
		width: 0;
	}
}
@-webkit-keyframes shine {
	0% {
		width: 0;
	}
	50% {
		width: 30px;
	}
	100% {
		width: 0;
	}
}
@keyframes shine {
	0% {
		width: 0;
	}
	50% {
		width: 30px;
	}
	100% {
		width: 0;
	}
}
@-webkit-keyframes shooting {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(300px);
		transform: translateX(300px);
	}
}
@keyframes shooting {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(300px);
		transform: translateX(300px);
	}
}
@-webkit-keyframes sky {
	0% {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	100% {
		-webkit-transform: rotate(405deg);
		transform: rotate(405deg);
	}
}
@keyframes sky {
	0% {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	100% {
		-webkit-transform: rotate(405deg);
		transform: rotate(405deg);
	}
}

@media screen and (max-width: 1200px) {
	.homepage {
		padding-left: 30px;
		padding-top: 60px;
		height: auto;
		width: auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}
	.home-content {
		width: 100%;
		height: auto;
		margin-left: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.home-welcome {
		order: 2;
		width: auto;
		height: auto;
		margin-top: 30px;
	}

	.home-sky {
		order: 1;
		position: relative;
		width: auto;
		min-height: 100px;
	}
	.shooting-star {
		position: absolute;
		left: 50%;
		top: 50%;
		height: 2px;
		background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
		border-radius: 999px;
		-webkit-filter: drop-shadow(0 0 6px #699bff);
		filter: drop-shadow(0 0 6px #699bff);
		-webkit-animation: tail 3000ms ease-in-out infinite,
			shooting 3000ms ease-in-out infinite;
		animation: tail 3000ms ease-in-out infinite,
			shooting 3000ms ease-in-out infinite;
	}

	.shooting-star:nth-child(1),
	.shooting-star:nth-child(5) {
		display: none;
	}
}
