.telescope {
	background-color: var(--dark-color);
	width: 300px;
	height: 300px;
	margin: 15px auto 0;
	border-radius: 50%;
	overflow: hidden;
	transition: all 500ms ease-in;
}

.stars-1 {
	position: relative;
	top: 50px;
	left: -50px;
	animation: orbit 20s linear infinite;
}

.stars-2 {
	position: relative;
	top: 100px;
	left: -50px;
	animation: orbit 50s linear infinite;
}

.stars-3 {
	position: relative;
	top: 180px;
	left: -50px;
	animation: orbit 15s linear infinite;
}

.stars-4 {
	position: relative;
	top: 150px;
	left: 300px;
	animation: orbit-rev 22s linear infinite;
}

.stars-5 {
	position: relative;
	top: -50px;
	left: 300px;
	animation: orbit-rev 12s linear infinite;
}

.star {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 9px solid #699bff;
	position: absolute;
}

.star:after {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 9px solid #699bff;
	position: absolute;
	content: "";
	top: 3px;
	left: -5px;
}

.moon {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	box-shadow: 3px 3px 0 0 #5f91ff;
}

.sparkle-2 {
	background-color: #699bff;
	width: 4px;
	height: 4px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	top: 20px;
	left: 35px;
}

.sparkle-1 {
	background-color: #699bff;
	width: 2px;
	height: 2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	top: 50px;
	left: 105px;
}

.sparkle-3 {
	background-color: #699bff;
	width: 6px;
	height: 6px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	position: relative;
	top: 50px;
	right: 85px;
}

.telescope:hover {
	transform: scale(1.5);
	transition: all 1000ms ease-in;
}

@keyframes orbit {
	50% {
		left: 400px;
		opacity: 0.5;
	}
	51% {
		opacity: 0;
	}
	100% {
		opacity: 0.8;
		left: -100px;
	}
}

@keyframes orbit-rev {
	50% {
		left: -30px;
		opacity: 0.5;
	}
	51% {
		opacity: 0;
	}
	100% {
		opacity: 0.8;
		left: 300px;
	}
}

@media screen and (max-width: 768px) {
	.telescope {
		margin: 15px 30px 15px 0;
	}
	.telescope:hover {
		transform: none;
	}
}
