.App {
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media screen and (max-width: 1400px) {
	.App {
		/* width: auto;
		height: 100vh;
		margin-left: 0px;
		margin-bottom: 0px; */
		position: relative;
	}
}
